In [ ]:
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np
all_data = pd.read_csv("crx.data", header = None)
all_data.replace('?', np.NaN, inplace=True)

data_train = all_data.iloc[:138,:] # 138 = 20% (690)
data_test = all_data.iloc[138:,:] 

imp = SimpleImputer(missing_values=np.NaN, strategy="most_frequent")
cat_data_train = list ()
num_data_train = list ()
cat_data_test = list ()
num_data_test = list ()
cat_cols = [1,4,5,6,7,9,10,12,13]
for col in cat_cols :
  cat_data_train.append(pd.DataFrame(imp.fit_transform(data_train.iloc[:,[col-1]])))
  cat_data_test.append(pd.DataFrame(imp.transform(data_test.iloc[:,[col-1]])))
num_cols = [2,3,8,11,14,15]
imp = SimpleImputer(missing_values=np.NaN, strategy="mean")
for col in num_cols :
  num_data_train.append(pd.DataFrame(imp.fit_transform(data_train.iloc[:,[col-1]])))
  num_data_test.append(pd.DataFrame(imp.transform(data_test.iloc[:,[col-1]])))
j1 , j2 = 0, 0

idata_train = pd.DataFrame()
idata_test = pd.DataFrame()
for col in range(1,16) :
  if j2 < 9 and cat_cols[j2] == col :
    idata_train = pd.concat([idata_train,cat_data_train[j2]],join="outer",axis=1)
    idata_test = pd.concat([idata_test, cat_data_test[j2]],join="outer",axis=1)
    j2 = j2 + 1
  else :
    idata_train = pd.concat([idata_train,num_data_train[j1]],join="outer",axis=1)
    idata_test = pd.concat([idata_test,num_data_test[j1]],join="outer",axis=1)    
    j1 = j1 + 1
idata_train.columns = list(range(1,16))
idata_test.columns = list(range(1,16))
labels_train = data_train.iloc[:,[15]]
labels_test = data_test.iloc[:,[15]]
labels_train.columns = [15]
labels_train.columns = [15]
mapping = {'-' : 0, '+' : 1}
labels_train[15] = labels_train[15].map(mapping)
labels_test[15] = labels_test[15].map(mapping)
np_labels_train = labels_train.values.flatten()
np_labels_test = labels_test.values.flatten()

In [48]:
data_train

    0      1      2  3  4   5   6     7  8  9   10 11 12     13    14 15
0    b  30.83  0.000  u  g   w   v  1.25  t  t   1  f  g  00202     0  +
1    a  58.67  4.460  u  g   q   h  3.04  t  t   6  f  g  00043   560  +
2    a  24.50  0.500  u  g   q   h  1.50  t  f   0  f  g  00280   824  +
3    b  27.83  1.540  u  g   w   v  3.75  t  t   5  t  g  00100     3  +
4    b  20.17  5.625  u  g   w   v  1.71  t  f   0  f  s  00120     0  +
..  ..    ...    ... .. ..  ..  ..   ... .. ..  .. .. ..    ...   ... ..
133  b  36.25  5.000  u  g   c  bb  2.50  t  t   6  f  g  00000   367  +
134  b  32.67  5.500  u  g   q   h  5.50  t  t  12  t  g  00408  1000  +
135  b  48.58  6.500  u  g   q   h  6.00  t  f   0  t  g  00350     0  +
136  b  39.92  0.540  y  p  aa   v  0.50  t  t   3  f  g  00200  1000  +
137  b  33.58  2.750  u  g   m   v  4.25  t  t   6  f  g  00204     0  +

[138 rows x 16 columns]

In [50]:
data_test

    0      1       2  3  4   5   6      7  8  9   10 11 12     13    14 15
138  a  18.83   9.500  u  g   w   v  1.625  t  t   6  t  g  00040   600  +
139  a  26.92  13.500  u  g   q   h  5.000  t  t   2  f  g  00000  5000  +
140  a  31.25   3.750  u  g  cc   h  0.625  t  t   9  t  g  00181     0  +
141  a  56.50  16.000  u  g   j  ff  0.000  t  t  15  f  g  00000   247  +
142  b  43.00   0.290  y  p  cc   h  1.750  t  t   8  f  g  00100   375  +
..  ..    ...     ... .. ..  ..  ..    ... .. ..  .. .. ..    ...   ... ..
685  b  21.08  10.085  y  p   e   h  1.250  f  f   0  f  g  00260     0  -
686  a  22.67   0.750  u  g   c   v  2.000  f  t   2  t  g  00200   394  -
687  a  25.25  13.500  y  p  ff  ff  2.000  f  t   1  t  g  00200     1  -
688  b  17.92   0.205  u  g  aa   v  0.040  f  f   0  f  g  00280   750  -
689  b  35.00   3.375  u  g   c   h  8.290  f  f   0  t  g  00000     0  -

[552 rows x 16 columns]

In [51]:
idata_train

    1      2      3  4  5   6   7     8  9  10    11 12 13     14      15
0    b  30.83  0.000  u  g   w   v  1.25  t  t   1.0  f  g  202.0     0.0
1    a  58.67  4.460  u  g   q   h  3.04  t  t   6.0  f  g   43.0   560.0
2    a  24.50  0.500  u  g   q   h  1.50  t  f   0.0  f  g  280.0   824.0
3    b  27.83  1.540  u  g   w   v  3.75  t  t   5.0  t  g  100.0     3.0
4    b  20.17  5.625  u  g   w   v  1.71  t  f   0.0  f  s  120.0     0.0
..  ..    ...    ... .. ..  ..  ..   ... .. ..   ... .. ..    ...     ...
133  b  36.25  5.000  u  g   c  bb  2.50  t  t   6.0  f  g    0.0   367.0
134  b  32.67  5.500  u  g   q   h  5.50  t  t  12.0  t  g  408.0  1000.0
135  b  48.58  6.500  u  g   q   h  6.00  t  f   0.0  t  g  350.0     0.0
136  b  39.92  0.540  y  p  aa   v  0.50  t  t   3.0  f  g  200.0  1000.0
137  b  33.58  2.750  u  g   m   v  4.25  t  t   6.0  f  g  204.0     0.0

[138 rows x 15 columns]

In [52]:
idata_test

    1      2       3  4  5   6   7      8  9  10    11 12 13     14      15
0    a  18.83   9.500  u  g   w   v  1.625  t  t   6.0  t  g   40.0   600.0
1    a  26.92  13.500  u  g   q   h  5.000  t  t   2.0  f  g    0.0  5000.0
2    a  31.25   3.750  u  g  cc   h  0.625  t  t   9.0  t  g  181.0     0.0
3    a  56.50  16.000  u  g   j  ff  0.000  t  t  15.0  f  g    0.0   247.0
4    b  43.00   0.290  y  p  cc   h  1.750  t  t   8.0  f  g  100.0   375.0
..  ..    ...     ... .. ..  ..  ..    ... .. ..   ... .. ..    ...     ...
547  b  21.08  10.085  y  p   e   h  1.250  f  f   0.0  f  g  260.0     0.0
548  a  22.67   0.750  u  g   c   v  2.000  f  t   2.0  t  g  200.0   394.0
549  a  25.25  13.500  y  p  ff  ff  2.000  f  t   1.0  t  g  200.0     1.0
550  b  17.92   0.205  u  g  aa   v  0.040  f  f   0.0  f  g  280.0   750.0
551  b  35.00   3.375  u  g   c   h  8.290  f  f   0.0  t  g    0.0     0.0

[552 rows x 15 columns]

In [53]:
print(np_labels_train, np_labels_train.shape)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1] (138,)

In [54]:
print(np_labels_test, np_labels_test.shape)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0] (552,)